#header {
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
}

#title {
  background-color: rgb(137, 203, 255);
  height: 150px;
}

nav ul {
  background-color: rgb(38, 150, 255);
  border: 2px solid rgb(38, 110, 255);
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

nav a {
  color: white;
  display: block;
  padding: 10px 20px 10px 20px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.5s;
}

nav a:hover {
  background-color: rgb(127, 193, 255);
  transition: background-color 0.5s;
}

#left li {
  float: left;
}

#right li {
  float: right;
}
